.input-group {
  position: relative;
  display: flex;
  width: 100%; }
  .input-group input {
    position: relative;
    z-index: 2;
    flex: 1 1 auto;
    width: 1%;
    margin: 0; }

.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .input-group-addon:not(:first-child):not(:last-child),
  .input-group-btn:not(:first-child):not(:last-child),
  .input-group .form-control:not(:first-child):not(:last-child) {
    border-radius: 0; }

.input-group-addon,
.input-group-btn {
  white-space: nowrap;
  vertical-align: middle; }

.input-group-addon {
  padding: 3px 10px;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
  background-color: #eceeef;
  border: 1px solid #d9d9d9; }

.input-group-addon:not(:last-child) {
  border-right: 0; }

.form-control + .input-group-addon:not(:first-child) {
  border-left: 0; }

.bd-table td {
  vertical-align: middle; }
.bd-table .column-cb {
  text-align: right; }

/*# sourceMappingURL=main.css.map */
