.input-group {
    position: relative;
    display: flex;
    width: 100%;

    input {
        // Ensure that the input is always above the *appended* addon button for
        // proper border colors.
        position: relative;
        z-index: 2;
        flex: 1 1 auto;
        // Add width 1% and flex-basis auto to ensure that button will not wrap out
        // the column. Applies to IE Edge+ and Firefox. Chrome does not require this.
        width: 1%;
        margin: 0;
    }
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
    // Vertically centers the content of the addons within the input group
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
}

.input-group-addon,
.input-group-btn {
    white-space: nowrap;
    vertical-align: middle; // Match the inputs
}

.input-group-addon {
    padding: 3px 10px;
    margin-bottom: 0; // Allow use of <label> elements by overriding our default margin-bottom
    font-size: 14px; // Match inputs
    text-align: center;
    background-color: #eceeef;
    border: 1px solid #d9d9d9;
}

.input-group-addon:not(:last-child) {
    border-right: 0;
}
.form-control + .input-group-addon:not(:first-child) {
    border-left: 0;
}

.bd-table {
    td {
        vertical-align: middle;
    }
    .column-cb {
        text-align: right;
    }
}